.venv
settings.py
secrets.json
node_modules
.vscode
vscode
gitignore
.gitignore
public/downloads
public
/home/yeongori/workspace/TIL/back-end/express/extract_file_path/public
application.properties
serviceAccountKey.json